 <div class = "row">
    <div class = "col-2">
        <h3>{{ getTitle() }}</h3>
        <div class="profilePic">
            <img [src]="imageUrl" width="150">
        </div>
        <input type = "file" (change) = "onFileSelected($event)">
        <button type = "button" (click) = "onUpload()">Upload</button>
    </div>
  
    <div class = "col-10" *ngIf="selectedUser">
        <form class="form" #form="ngForm" (ngSubmit)="onSubmit(form)">

          <div class="form-group" >
              <label for="user_name">User Name</label>
              <input type="text" class="form-control" id="user_name" name="user_name" [(ngModel)] = "selectedUser.user_name">
          </div>

          <div class="form-group">
            <label for="first_name">Firstname</label>
            <input type="text" class="form-control" id="firstname" #firstname="ngModel" 
              required minlength="3" maxlength="15"
              name="first_name" [(ngModel)]="selectedUser.first_name">
        
            <!-- <div class="err">
              <div *ngIf="first_name.errors['required']">Firstname is required</div>
              <div *ngIf="first_name.errors['minlength']">Please enter at least 3 letters for firstname</div>
            </div> -->
          </div>
        
          <div class="form-group">
            <label for="last_name">Lastname</label>
            <input type="text" class="form-control" id="last_name" name="last_name" [(ngModel)] = "selectedUser.last_name">
          </div>
        
        
          <!-- <div class="form-group">
            <label>Gender  </label>
            <label><input type="radio" name="gender" value="  Male" [(ngModel)] = "conselectedUsertact.gender"> Male </label>
            
            <label><input type="radio" name="gender" value="  Female" [(ngModel)] = "selectedUser.gender"> Female </label>
          </div>
         -->
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="text" class="form-control" 
              #email="ngModel"  required
            id="email" name="email" [(ngModel)] = "selectedUser.email">
        
            <div class="err" *ngIf="email.dirty && email.invalid">
              <div *ngIf="email.errors['required']">Email address is required</div>
            </div>
          </div>
        
        
          <div class="form-group">
            <label for="phone_number">Phone number</label>
            <input type="text" class="form-control" 
              #phone="ngModel" required pattern="\d{10,12}"
              id="phone_number" name="phone_number" [(ngModel)] = "selectedUser.phone_number">
        
              <!-- <div class="err" *ngIf="phone_number.dirty && phone_number.invalid">
                <div *ngIf="phone_number.errors['required']">Phone number is required</div>
                <div *ngIf="phone_number.errors['pattern']">Please input 10 to 12 digits for phone</div>
              </div> -->
          </div>

          <!-- <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" name="city" [(ngModel)] = "selectedUseract.city">
          </div>
        
        
          <div class="form-group">
            <label for="state">State</label>
            <input type="text" class="form-control" id="state" name="state" [(ngModel)] = "selectedUser.state">
          </div>
        
        
          <div class="form-group">
            <label for="country">Zip</label>
            <input type="text" class="form-control" id="country" name="country" [(ngModel)] = "selectedUser.country">
          </div> -->
      
          <button class="btn btn-{{form.invalid ? 'danger': 'primary'}}" [disabled]="form.invalid">Save Profile</button> 
        </form>
  </div>
</div>