<div class="row">
  <div class="col-10">
    <form class="form" #form="ngForm">
      <h1>
        Event Information
      </h1>
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="title"
          [(ngModel)]="event.title"
        />
      </div>

      <div class="form-group">
        <label for="street">Street</label>
        <input
          type="text"
          class="form-control"
          id="street"
          name="street"
          [(ngModel)]="event.street"
        />
      </div>

      <div class="form-group">
        <label for="city">City</label>
        <input
          type="text"
          class="form-control"
          id="city"
          name="city"
          [(ngModel)]="event.city"
        />
      </div>
      <div class="form-group">
        <label for="state">State</label>
        <input
          type="text"
          class="form-control"
          id="state"
          name="state"
          [(ngModel)]="event.state"
        />
      </div>
      <div class="form-group">
        <label for="zip_code">Zip Code</label>
        <input
          type="text"
          class="form-control"
          id="zip_code"
          name="zip_code"
          [(ngModel)]="event.zip_code"
        />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <br />
        <textarea
          rows="6"
          cols="100"
          name="description"
          [(ngModel)]="event.description"
        >
        </textarea>
      </div>

      <h1>
        Event Date
      </h1>

      Start and End Date
      <br />
      <ngb-datepicker
        #dp
        (select)="onDateSelection($event)"
        [displayMonths]="2"
        [dayTemplate]="t"
        outsideDays="hidden"
      >
      </ngb-datepicker>

      <ng-template #t let-date let-focused="focused">
        <span
          class="custom-day"
          [class.focused]="focused"
          [class.range]="isRange(date)"
          [class.faded]="isHovered(date) || isInside(date)"
          (mouseenter)="hoveredDate = date"
          (mouseleave)="hoveredDate = null"
        >
          {{ date.day }}
        </span>
      </ng-template>

      <br />
      <label for="startTime">Start Time</label>
      <ngb-timepicker
        [(ngModel)]="start_time"
        [meridian]="meridian"
        name="startTime"
      ></ngb-timepicker>

      <label for="endTime">End Time</label>
      <ngb-timepicker
        [(ngModel)]="end_time"
        [meridian]="meridian"
        name="endTime"
      ></ngb-timepicker>

      <h1>
        Ticket Settings
      </h1>
      <div class="form-group">
        <label for="max_purchase_quantity">Max Purchase Quantity</label>
        <input
          type="number"
          class="form-control"
          id="max_purchase_quantity"
          name="max_purchase_quantity"
          [(ngModel)]="event.max_purchase_quantity"
        />
      </div>

      <div class="form-group">
        <label for="max_quantity_available">Max Quantity Available</label>
        <input
          type="number"
          class="form-control"
          id="max_quantity_available"
          name="max_quantity_available"
          [(ngModel)]="event.max_quantity_available"
        />
      </div>

      <div class="form-group">
        <label for="subtotal_price">Price Per Ticket: </label>
        <input
          type="number"
          class="form-control"
          id="subtotal_price"
          name="subtotal_price"
          min="0.01"
          step="0.01"
          max="9999999"
          [(ngModel)]="event.subtotal_price"
        />
      </div>

      <h1>
        Survey
      </h1>
      <div *ngFor="let s of survey; let i = index">
        <form class="surveyQuestion">
          <label>Question {{ i + 1 }}: </label>
          <br />
          <input type="text" name="question" [(ngModel)]="s.question" /> <button (click)="removeQuestion(s, i)" style="margin-left: 10px">Remove</button><br />
          <select name="type" [(ngModel)]="s.type">
            <option value="singleChoice">Single Choice</option>
            <option value="multipleChoice">Multiple Choice</option>
            <option value="freeResponse">Free Response</option>
          </select>
          <br />
          <div *ngIf="s.type == 'singleChoice' || s.type == 'multipleChoice'">
            <div *ngFor="let ans of s.answers; let i = index">
              <form>
                Answer {{ i + 1 }}:
                <input type="text" name="question" [(ngModel)]="ans.answer" />
                <button (click)="removeAnswer(s, i)"style="margin-left: 10px">Remove</button>
              </form>
              <br />
            </div>
            <button (click)="addAnswer(s)">Add Answer</button>
          </div>
        </form>
      </div>
      <button (click)="addSurvey()">Add New Question</button>

      <h1>
        Add Ons
      </h1>
      <div *ngFor="let a of addOns; let i = index">
        <form class="surveyQuestion">
          <label>Add On {{ i + 1 }}: </label>
          <br />
          Name:
          <input type="text" name="name" [(ngModel)]="a.name" />
          Price:
          <input
            type="number"
            name="price"
            min="0.01"
            step="0.01"
            max="9999999"
            [(ngModel)]="a.price"
          />
          <button (click)="removeAddOn(i)"style="margin-left: 10px">Remove</button>
          <br />
          <br />
        </form>
      </div>
      <button (click)="addAddOn()">Add New Addon</button>

      <br />
      <button
        style="margin-top: 10px;"
        (click)="onSubmit()"
        class="btn btn-{{ form.invalid ? 'danger' : 'primary' }}"
        [disabled]="form.invalid"
      >
        Submit
      </button>
    </form>
  </div>
</div>
