<!-- <div class = "headerStyle">
  <h1><img src = "/assets/img/logo.png" class = "logoStyle" >FORESITE</h1>
</div> -->

<mat-toolbar color="black">
    <!-- <mat-toolbar-row>
    </mat-toolbar-row> -->
  <!-- <mat-toolbar-row> -->
    <!-- <span class="example-spacer"></span> -->
    <span><mat-icon (click)="toggleSidenav()">dehaze</mat-icon></span>
    <!-- <span class="example-spacer"></span> -->
    <span><img src = "/assets/img/logo.png" class = "logoStyle" ></span>
    <!-- <span class="example-spacer"></span> -->
    <span class = "headerStyle">FORESITE</span>
    <span class="example-spacer"></span>
    
  <!-- </mat-toolbar-row> -->

</mat-toolbar>