<!-- <app-login></app-login> -->
<div class="row">
  <div class="col">
    <app-topbar></app-topbar>
  </div>
</div>

<div class="row">
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  />

  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="push" class="sidebar">
      <ul>
        <li class="fList">
          <a [routerLink]="['/home']">
            <span><i class="fas fa-home"></i></span>
            <span>Home</span>
          </a>
        </li>

        <li class="fList">
          <a [routerLink]="['/create']">
            <span><i class="fas fa-plus-square"></i></span>
            <span>Create Event</span>
          </a>
        </li>

        <li class="fList">
          <a [routerLink]="['/test']">
            <span><i class="fas fa-calendar-alt"></i></span>
            <span>My Events</span>
          </a>
          <ul class="sublist">
            <li *ngFor="let event of commonEventList.eventList">
              <a [routerLink]="['/event', event.event_id]">
                <span>{{ event.title }}</span>
              </a>
            </li>

            <!-- <li>
                    <a [routerLink]="['/']">
                      <span>Event2</span>
                    </a>
                </li>

                <li>
                    <a [routerLink]="['/test']">
                      <span>Event3</span>
                    </a>
                </li> -->
          </ul>
        </li>
      </ul>
    </mat-sidenav>

    <mat-sidenav-content>
      <!-- <h4>Positional</h4>
      <button [satPopoverAnchorFor]="p" (click)="p.toggle()">Toggle</button>

    <sat-popover #p verticalAlign="below">
      <div class="popover-wrapper">
        Hello!
      </div>
    </sat-popover> -->
      <!-- <div class="form-group">
        <label>Popover placement</label>
        <select class="form-control" ng-model="placement.selected" ng-options="o as o for o in placement.options"></select>
      </div>
      <button popover-placement="{{placement.selected}}" uib-popover="On the {{placement.selected}}" type="button" class="btn btn-default">Popover {{placement.selected}}</button> -->

      <!-- <h2 class = "content-style">Welcome to Foresite！</h2> -->
      <!-- <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p>
    <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p> -->
      <!-- <p><mat-icon (click)="this.sidenavService.toggle()">dehaze</mat-icon></p> -->
      <!-- <p>Events:</p>
    <div class="example-events">
      <div *ngFor="let e of events">{{e}}</div>
    </div> -->
      <!-- <app-home></app-home> -->
      <!-- <mat-icon (click)="sidenav.toggle()">dehaze</mat-icon> -->
      <router-outlet></router-outlet>
      <!-- <span><mat-icon (click)="sidenav.toggle()">dehaze</mat-icon></span>
  <span><mat-icon (click)="rightsidenav.toggle()">dehaze</mat-icon></span> -->
    </mat-sidenav-content>

    <mat-sidenav #rightsidenav mode="side" position="end" class="rightsidebar">
      <p>Profile</p>
      <span class="text_logout" (click)="onLogout()">Logout</span>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
