<div class="typewriter h3">
  <h3>CREATE YOUR EVENTS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; MANAGE YOUR EVENTS</h3>
  <h3>EXPLORE NEW EVENTS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ALL AT ONE PLACE</h3>
</div>

<div class="container">
  <div class="box">
    <img src="http://www.mariacenoura.pt/ptpictures/f/76/765144_pinterest-art-wallpaper.jpg">
    <span>ART</span>
  </div>
  <div class="box">
    <img src="http://getwallpapers.com/wallpaper/full/9/9/f/538921.jpg">
    <span>SCIENCE</span>
  </div>
  <div class="box">
    <img src="https://wallpaperplay.com/walls/full/2/1/e/100297.jpg">
    <span>TECH</span>
  </div>
  <div class="box">
    <img src="http://www.elsetge.cat/imagepost/b/24/246254_4k-music-wallpaper.jpg">
    <span>MUSIC</span>
  </div>
</div>
<div>
<div class="head">
<h1>Explore Events</h1>
</div>
<div class="row">
  <div class="column">
<div id="container">
  
    <a href="https://www.facebook.com/groups/ElzeroWebSchool/" target="_blank"><img src="https://media.giphy.com/media/YQeDhL3kr8yWY/giphy.gif" alt="Foresite"> </a>
    <div class="box-text">
    <h1>Apple Watch Event</h1>
    <p>San Franciso 
    <p>20 June
    </div>
  </div>
  <div id="container">
  
      <a href="https://www.facebook.com/groups/ElzeroWebSchool/" target="_blank"><img src="https://media.giphy.com/media/2UtegbQgkGyQOjMSko/giphy.gif" alt="Foresite"> </a>
      <div class="box-text">
      <h1>Kanye West Concert</h1>
      <p>San Jose 
      <p>25 June
      </div>
    </div>
    </div>
    <div class="column">
        <div id="container">
  
            <a href="https://www.facebook.com/groups/ElzeroWebSchool/" target="_blank"><img src="https://media.giphy.com/media/lKKXOCVviOAXS/giphy.gif" alt="Foresite"> </a>
            <div class="box-text">
            <h1>Art Illusion Event</h1>
            <p>Santa Cruz 
            <p>21 June
            </div>
          </div>
          
          <div id="container">
  
              <a href="https://www.facebook.com/groups/ElzeroWebSchool/" target="_blank"><img src="https://media.giphy.com/media/r2HaAW1GKAwMw/giphy.gif" alt="Omar"> </a>
              <div class="box-text">
              <h1>IOT Event</h1>
              <p>San Jose 
              <p>22 June
              </div>
            </div> 
    </div>
    <div class="column">
        <div id="container">
  
            <a href="https://www.facebook.com/groups/ElzeroWebSchool/" target="_blank"><img src="https://thumbs.gfycat.com/DeliriousAnxiousJackrabbit-size_restricted.gif" alt="Foresite"> </a>
            <div class="box-text">
            <h1>CS Gaming Event</h1>
            <p>San Francisco 
              <p>24 June
            </div>
          </div>
          
          <div id="container">
  
              <a href="https://www.facebook.com/groups/ElzeroWebSchool/" target="_blank"><img src="https://media.giphy.com/media/iwnkdnExj1i92/giphy.gif" alt="Foresite"> </a>
              <div class="box-text">
              <h1>Bill Nye Talk</h1>
              <p>San Francisco 
              <p>28 June
              
              </div>
            </div> 
    </div>
    </div> 

    
<!-- <div class="wrapper">

  <div class="button">
    <span class="button__mask"></span>
    <span class="button__text">MAIL</span>
    <span class="button__text button__text--bis">MAIL</span>
  </div>
  
  <br>
  
  <div class="button">
    <span class="button__mask"></span>
    <span class="button__text">EXPLORE NEW EVENTS</span>
    <span class="button__text button__text--bis">EXPLORE NEW EVENTS</span>
  </div>
  
</div> -->

<!-- FONTAWESOME 5 AND NORMALIZED CSS INSTALLED-->
<!-- View settings for more info.-->
<div id="cubeContainer">
    <div id="cubeWrapper">
      <div class="head">
        <h1>MEET THE TEAM</h1>
      </div>
      <div id="cubes">
        <div class="cube p2">
          <div class="name">
            <h1>Cassidy</h1>
            <p>Backend Developer</p>
          </div>
          <div class="innerBorder"></div>
          <div class="darken"></div>
          <div class="content">
            <ul>
              <li><a href=""><span class="fab fa-twitter"></span></a></li>
              <li><a href=""><span class="fab fa-facebook-f"></span></a></li>
              <li><a href=""><span class="fab fa-instagram"></span></a></li>
              <li><a href=""><span class="fab fa-youtube"></span></a></li>
            </ul>
          </div>
        </div>
        <!-- <div class="cube p1">
          <div class="name">
            <h1>Jessica</h1>
            <p>Community Manager</p>
          </div>
          <div class="innerBorder"></div>
          <div class="darken"></div>
          <div class="contentt">
            <ul>
              <li><a href=""><span class="fab fa-twitter"></span></a></li>
              <li><a href=""><span class="fab fa-facebook-f"></span></a></li>
              <li><a href=""><span class="fab fa-instagram"></span></a></li>
              <li><a href=""><span class="fab fa-youtube"></span></a></li>
            </ul>
          </div>
        </div> -->
        <div class="cube p3">
          <div class="name">
            <h1>Himanshu</h1>
            <p>Web Developer</p>
          </div>
          <div class="innerBorder"></div>
          <div class="darken"></div>
          <div class="content">
            <ul>
              <li><a href=""><span class="fab fa-twitter"></span></a></li>
              <li><a href=""><span class="fab fa-facebook-f"></span></a></li>
              <li><a href=""><span class="fab fa-instagram"></span></a></li>
              <li><a href=""><span class="fab fa-youtube"></span></a></li>
            </ul>
          </div>
        </div>
        <!-- <div class="cube p4">
          <div class="name">
            <h1>James</h1>
            <p>UX / UI Designer</p>
          </div>
          <div class="innerBorder"></div>
          <div class="darken"></div>
          <div class="content">
            <ul>
              <li><a href=""><span class="fab fa-twitter"></span></a></li>
              <li><a href=""><span class="fab fa-facebook-f"></span></a></li>
              <li><a href=""><span class="fab fa-instagram"></span></a></li>
              <li><a href=""><span class="fab fa-youtube"></span></a></li>
            </ul>
          </div>
        </div> -->
        <div class="cube p5">
          <div class="name">
            <h1>Tiantian</h1>
            <p>Web Developer</p>
          </div>
          <div class="innerBorder"></div>
          <div class="darken"></div>
          <div class="content">
            <ul>
              <li><a href=""><span class="fab fa-twitter"></span></a></li>
              <li><a href=""><span class="fab fa-facebook-f"></span></a></li>
              <li><a href=""><span class="fab fa-instagram"></span></a></li>
              <li><a href=""><span class="fab fa-youtube"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="cube p6">
          <div class="name">
            <h1>Bhargava</h1>
            <p>Mobile App Dev</p>
          </div>
          <div class="innerBorder"></div>
          <div class="darken"></div>
          <div class="content">
            <ul>
              <li><a href=""><span class="fab fa-twitter"></span></a></li>
              <li><a href=""><span class="fab fa-facebook-f"></span></a></li>
              <li><a href=""><span class="fab fa-instagram"></span></a></li>
              <li><a href=""><span class="fab fa-youtube"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>



